* {
    font-family: "Roboto", sans-serif;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-flow: column nowrap;
}

.topBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 50px 20px 50px;
    flex: auto;
}

.logo {
    font-size: 24px;
    display: flex;
    margin-right: auto;
}

.headerRightLinks {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    margin-left: auto;
}

.secondBar {
display: flex;
flex-direction: row;
justify-content: space-between;
column-gap: 50px;
flex: auto;
}

.hChunkL {
    display: flex;
    font: 48px;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    margin-left: 50px;
    margin-right: auto;
    max-width: 50%;
}

.heroPar {
    font-size: 18px;
    color: #E5E7EB;
}

.hChunkR{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.headerImg {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    max-width: 75%;
}

.signUp {
    display: flex;
    background-color: #3882F6;
    font-size: 15px;
    color: #F9FAF8;
    border: none;
    border-radius: 5px;
    padding: 20px;
    height: 30px;
    width: 120px;
    align-items: center;
    justify-content: center;
}